<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="/javascripts/test2.js"></script>
</head>

<body>
    <nav id="bar">
        <!-- 네비게이션바 -->
        <div id="nav-bar">
            <li><a href="./main">메인화면</a></li>
            <li><a href="./introduce">게임소개</a></li>
            <li><a href="./update">업데이트</a></li>
            <li><a href="./community">커뮤니티</a></li>
            <li><a href="./service">고객센터</a></li>
        </div>
    </nav>
<!-- 헤더 -->
    <header id="head">
        <div id="headmenu">
            <img src="images/game.png" style="width: 100%; height: 100%;" >
        </div>
    </header>


    <main>
        <section class="login-section">
            <ul>
			<div class="login-id">	
				<input id="id" placeholder="User Id" type="text"></input>
			</div>
			<div class="login-password">	
				<input id="pass" placeholder="Password" type="password"></input>
			</div>
        <a href="#" class="button"><div>로그인</div></a>
        <li class="find">
            <a href="./new">회원가입</a>
            <span>|</span>
            <a href="./id.html">아이디 찾기</a>
            <span>|</span>
            <a href="./password.html">비밀번호 찾기</a>
        </li>
        </ul>
    </main>
</body>
<footer id="foot">
    <span id="foot-font">DHU copyright &copy; 2022</span>
</footer>

</html>