<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <nav id="bar">
        <!-- 네비게이션바 -->
        <div id="nav-bar">
            <li><a href="./introduce">게임소개</a></li>
            <li><a href="./update">업데이트</a></li>
            <li><a href="./community">커뮤니티</a></li>
            <li><a href="./service">고객센터</a></li>
            <li><a href="./login">로그인</a></li>
        </div>
    </nav>

    <header id="head">
        <!-- 헤더 -->
        <div id="hedamenu">
            <div id="gamename" style="color: black;">게임제목</div>
            <div id="gamestory" style="font-size: 45px; color: black;">게임의 시작스토리</div>
            <a href="#" class="button">
                <div>
                    DownLoad
                </div>
            </a>
        </div>
    </header>
    <main>
        <section>
            <!-- 이미지테이블 -->
            <table id="about">
                <tr>
                    <td>
                        <div class="jb-a">
                            <img src="images/a.png" alt="" class="jb-b" width="400" height="225">
                            <img src="images/cat.jpg" alt="" class="jb-c" width="400" height="225">
                        </div>
                    </td>
                    <td>
                        <div class="jb-a">
                            <img src="images/h.png" alt="" class="jb-b" width="400" height="225">
                            <img src="images/cat.jpg" alt="" class="jb-c" width="400" height="225">
                        </div>
                    </td>
                    <td>
                        <div class="jb-a">
                            <img src="images/s.png" alt="" class="jb-b" width="400" height="225">
                            <img src="images/cat.jpg" alt="" class="jb-c" width="400" height="225">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="jb-a">
                            <img src="images/city.png" alt="" class="jb-b" width="400" height="225">
                            <img src="images/cat.jpg" alt="" class="jb-c" width="400" height="225">
                        </div>
                    </td>
                    <td>
                        <div class="jb-a">
                            <img src="images/c.png" alt="" class="jb-b" width="400" height="225">
                            <img src="images/cat.jpg" alt="" class="jb-c" width="400" height="225">
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <section id="update">
            <div id="table1">
                <p>업데이트</p>
                <table>
                    <dd>~~~업데이트 내용</dd>
                    <dd>~~~업데이트 내용</dd>
                    <dd>~~~업데이트 내용</dd>
                    <dd>~~~업데이트 내용</dd>
                </table>
            </div>
            <div id="table2">
                <p>커뮤티니</p>
                <table>
                    <dd>게시글 제목</dd>
                    <dd>게시글 제목</dd>
                    <dd>게시글 제목</dd>
                    <dd>게시글 제목</dd>
                </table>
            </div>


        </section>


    </main>


</body>
<footer id="foot">
    <span id="foot-font">DHU copyright &copy; 2022</span>
</footer>

</html>