<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/update.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav id="bar">
        <!-- 네비게이션바 -->
        <div id="nav-bar">
            <li><a href="./main">메인화면</a></li>
            <li><a href="./introduce">게임소개</a></li>
            <li><a href="./community">커뮤니티</a></li>
            <li><a href="./service">고객센터</a></li>
            <li><a href="./login">로그인</a></li>
        </div>
    </nav>

    <header id="head">
        <div id="headmenu">
            <img src="images/game.png" style="width: 100%; height: 100%;" >
        </div>
    </header>

    <main>
        <h1 id="table-head">업데이트</h1>

        <div id="table-body">
             <input type="text"
             class="input-list">
             <button id="button" type="button">검색</button>
            </div>

        <table>
            <tr>
            <td class="title"><a href="./view.html">~~~~업데이트</a></td>
            <td class="name">운영자</td>
            <td class="data">2022</td>
        </tr>
        <tr>
            <td class="title"><a href="">안녕하세요</a></td>
            <td class="name">ㅁㄴㅇㄹ</td>
            <td class="data">ㄷㅎㅇㅎ</td>
        </tr>
        <tr>
            <td class="title"><a href="">asdff</a></td>
            <td class="name">asdasd</td>
            <td class="data">asd</td>
        </tr>
        <tr>
            <td class="title"><a href="">asdff</a></td>
            <td class="name">asd</td>
            <td class="data">sdfdf</td>
        </tr>
        </table>

        <div>
            <ui class="page">
                <a href="#"><<</a>
                <a href="#"><</a>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <a href="#">></a>
                <a href="#">>></a>
            </ui>
        </div>

        




    </main>

</body>

<footer id="foot">
    <span id="foot-font">DHU copyright &copy; 2022</span>
</footer>

</html>